# Binaries #
###################
*.exe
*.o
bin

# Profile #
###################
*.out
*.gcda
*.gcno

# Benchmark #
###################
*.csv

# VS Code #
###################
.vscode

# Test Directory #
###################
tests
